<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/vue/vue.js"></script>
</head>
<body>
<div id="root">
    <input type="text" v-model="inputValue"/>
    <button @click="handle">加入列表中</button>
    <test-item v-for="(item ,index) of list" :key="index" :param="item" :index="index" @del="del"></test-item>
    <!--<p v-for="(item,index) of list" :key="index">{{item}}</p>-->
</div>
<script type="text/javascript">
    var testItem = {
        props: ['param', 'index'],
        template: "<p @click='handleClick'>{{param}}</p>",
        methods: {
            handleClick: function () {
                this.$emit("del", this.index);
            }
        }
    }
    new Vue({
        el: "#root",
        data: {
            inputValue: "",
            list: [],
            msg: "test param"
        },
        methods: {
            handle: function () {

                this.list.push(this.inputValue);
                this.inputValue='';
            },
            del: function (index) {
                this.list=this.list.slice(0,index).concat(this.list.slice(index+1))
            }
        },
        components: {
            'test-item': testItem
        }

    })


</script>
</body>
</html>